<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Free Contact Form :: W3layouts</title>
  <link rel="stylesheet" href="static/input/assets/css/style.css">

</head>

<body>
  <!-- contacts -->
<section class="w3l-contact-4">
  <div class="contacts-9 section-gap">
    <div class="wrapper">
      <div class="top-map">

        <div class="map-content-9">

            <div class="form-top1">

              <h3 class="text-center">地理科目</h3>

              <form action="message" method="post">
              <div class="form-top">
                <div class="form-top-righ">
                  <textarea name="message" id="message" placeholder="请在此处输入你的问题" required=""></textarea>
                </div>
              </div>

              <div class="text-center">
                <button type="submit">查询</button>
              </div>
              </form>
              <div >
               <p>
                 {{ message }}
               </p>

            </div>
            </div>




        </div>

      </div>
    </div>
  </div>


</section>
<!-- //contacts -->
</body>
<script>


</script>

</html>